# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.tools/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & Editor
.idea/
*.iml
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs & Database
*.log
*.sqlite
h2db/

# Environment files
.env
.env.production
